<div class="container">
  <div class="content">
    <div class="p-grid">
      <div class="p-col-12 p-text-center">
        <app-vnc-key-buttons></app-vnc-key-buttons>
        <span class="delimeter"></span>
        <app-vnc-clipboard-buttons></app-vnc-clipboard-buttons>
        <span class="delimeter"></span>
        <app-vnc-view-buttons></app-vnc-view-buttons>
        <span class="delimeter"></span>
        <app-vnc-action-buttons></app-vnc-action-buttons>
      </div>
    </div>
    <div class="p-d-flex p-jc-center p-ai-center prevnc">
      <div #vnc class="screenvnc" [hidden]="!isConnected"></div>
      <div class="no-screenvnc" *ngIf="!isConnected">
        <i class="pi" [ngClass]="isConnecting ? 'pi-spin pi-spinner' : 'icon icon-link'"></i>
        <br/>
        <ng-container *ngIf="!isConnecting; else notConnecting">
          <button pButton
                  (click)="onConnectDialog()"
                  type="button"
                  class="p-button-lg">Подключиться</button>
        </ng-container>
        <ng-template #notConnecting>Ждите, идёт подключение...</ng-template>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
