@font-face {
  font-family: 'fontello';
  src: url('../assets/fontello/fontello.eot?6488910');
  src: url('../assets/fontello/fontello.eot?6488910#iefix') format('embedded-opentype'),
  url('../assets/fontello/fontello.woff2?6488910') format('woff2'),
  url('../assets/fontello/fontello.woff?6488910') format('woff'),
  url('../assets/fontello/fontello.ttf?6488910') format('truetype'),
  url('../assets/fontello/fontello.svg?6488910#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
