.icon:before {
  font-family: 'fontello';
  font-size: 18px;
}

.icon-switch:before {
  content: '\e800';
}

.icon-progress-3:before {
  content: '\e801';
}

.icon-windows:before {
  content: '\f17a';
}

.icon-clipboard:before {
  content: '\e802';
}

.icon-resize-full:before {
  content: '\e806';
}

.icon-resize-small:before {
  content: '\e807';
}

.icon-eye:before {
  content: '\e803';
}

.icon-eye-off:before {
  content: '\e804';
}

.icon-unlink:before {
  content: '\f127';
}

.icon-link:before {
  content: '\e805';
}
