<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
<div class="p-nogutter p-text-center">
  <div class="p-fluid">
    <div class="p-field p-grid">
      <div class="p-col-12">
        <input type="password"
               formControlName="password"
               class="p-inputtext-sm"
               pInputText
               #focusEl>
      </div>
    </div>
  </div>

  <div class="p-col-sm-12 p-m-0">
    <button pButton
            type="submit"
            class="p-button-info p-button-sm">Подключиться</button>
  </div>
</div>
</form>
